.CreatePostForm {
  background-color: var(--light-green);
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  padding: 1rem;
  width: 650px;
  transition: all 0.5s ease-out;
}

.CreatePostForm .createPostFormContainer {
  margin: 1rem 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

.CreatePostForm .createPostFormContainer form {
  width: 100%;
}

.GeneralBoard .doNotShow {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.CreatePostForm .createPostFormContainer p {
  font-weight: bold;
  margin-top: 0.75rem;
}

/*/////// INPUTS ///////*/

.CreatePostForm .createPostFormContainer input[type="text"],
textarea {
  border: 1px solid black;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  resize: vertical;
  width: 75%;
}

.CreatePostForm .createPostFormContainer input[type="text"] {
  text-align: center;
}

.CreatePostForm .createPostFormContainer textarea {
  min-height: 150px;
}

/*/////// BUTTONS ///////*/

.CreatePostForm .addCreatePostButton {
  background-color: var(--dark-green);
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 200px;
  transition: all 0.2s ease-in-out;
}

.CreatePostForm .addCreatePostButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.CreatePostForm .cancelPostButton {
  background-color: red;
  transition: all 0.2s ease-in-out;
}

.CreatePostForm .cancelPostButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.CreatePostForm .createPostFormContainer form .addPostButton {
  background-color: var(--dark-green);
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  padding: 0.5rem;
  width: 200px;
  transition: all 0.2s ease-in-out;
}

.CreatePostForm .addPostButton:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .CreatePostForm {
    width: 85%;
  }

  .CreatePostForm .createPostFormContainer input[type="text"],
  textarea {
    width: 85%;
  }
}

@media only screen and (max-width: 480px) {
  .CreatePostForm .createPostFormContainer form input[type="text"],
  textarea {
    width: 100%;
  }

  .CreatePostForm .createPostFormContainer form .addPostButton {
    width: 100%;
  }

  .CreatePostForm .addCreatePostButton {
    width: 100%;
  }

  .CreatePostForm .cancelPostButton {
    width: 100%;
  }
}
