.GeneralBoard {
  /* background-color: white; */
  text-align: center;
}

.GeneralBoard .generalPostsContainer {
  background-color: white;
}

.GeneralBoard .generalPost {
  border-bottom: 1px solid lightgray;
  margin: 1rem;
  padding: 0.5rem;
}

.GeneralBoard .addCreatePostContainer {
  background-color: var(--dark-green);
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
  padding: 0.75rem;
  width: 200px;
}

.GeneralBoard .doNotShow {
  display: none;
}
