.GeneralBoard {
  /* background-color: white; */
  text-align: center;
}

.GeneralBoard .generalPostsContainer {
  background-color: white;
}

.GeneralBoard .generalPost {
  /* background-color: yellowgreen; */
  border-bottom: 1px solid lightgray;
  margin: 1rem;
  padding: 0.5rem;
}

.GeneralBoard .createPostFormContainer {
  /* display: none; */
}
