.doctorCardContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctorCard {
  margin: 1rem auto;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 20px 20px 28px 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.doctorCardImage {
  width: 60%;
  max-height: 300px;
  border-radius: 1rem;
  object-fit: cover;
  margin: 0 auto 1rem;
}

.doctorCardDescription {
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  margin: 0 auto;
}

.doctorCardTitle {
  font-size: 1rem;
  line-height: 1.5;
  background-image: linear-gradient(90deg, white, var(--dark-green));
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 5px;
  margin-left: -4px;
  border-radius: 5px;
}

.AboutUs {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.AboutUs .aboutUsInfoContainer {
  background-color: var(--light-green);
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  padding: 1.5rem;
  width: 75%;
}

.aboutUsInfoContainer > h2 {
  margin-bottom: 1rem;
}

.aboutUsInfoContainer > p {
  margin-bottom: 1rem;
}

.AboutUs .aboutUsImage {
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
  width: 60%;
}

.AboutUs .infoContainer {
  margin: 2rem auto 1rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.aboutUsInfo {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 1rem;
  width: 220px;
}

.hours {
  margin: 0 auto 1rem auto;
}

.aboutUsInfo > .icon {
  display: inline-block;
  height: 2.5rem;
}

.aboutUsInfo > h4 {
  margin: 0;
}

.aboutUsInfo > a {
  margin: 0;
}

.AboutUs table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: auto;
  display: flex;
  width: 75%;
}

.AboutUs table tbody {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AboutUs table tbody tr {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.AboutUs table tbody th {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  padding: 0.75rem;
  border-right: 1px solid #ddd;
}

.AboutUs table tbody td {
  width: 65%;
  border: none;
  padding: 0.75rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutUs table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.AboutUs table tbody tr:nth-child(7) {
  border-radius: 0 0 1rem 1rem;
  border: none;
}

.AboutUs table tbody tr:nth-child(1) {
  border-radius: 1rem 1rem 0 0;
}

@media only screen and (max-width: 768px) {
  .AboutUs .aboutUsInfoContainer {
    width: 85%;
  }

  .AboutUs table {
    width: 90%;
  }

  .doctorCard {
    width: 85%;
  }

  .aboutUsInfo {
    width: 75%;
  }
}

@media only screen and (max-width: 480px) {
  .AboutUs {
    width: 100%;
  }

  .AboutUs .aboutUsInfoContainer {
    width: 100%;
    padding: 0;
    padding-top: 1rem;
  }

  .doctorCard {
    width: 95%;
  }

  .AboutUs table {
    width: 90%;
  }

  .AboutUs table tbody {
    border-radius: 1rem;
  }

  .AboutUs table tbody tr {
    flex-direction: column;
    border: none;
  }

  .AboutUs table tbody th {
    border: none;
    width: auto;
  }

  .AboutUs table tbody td {
    width: auto;
  }

  .AboutUsContac tbody th {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .AboutUs table .first {
    border-radius: 1rem 1rem 0 0;
  }

  .AboutUs table .last {
    border-radius: 1rem 1rem 0 0;
  }
}
