.AboutUs {
  display: block;
  background-color: var(--light-green);
  border-radius: 8px;
  color: var(--dark-green);
  /* padding: 55px 50px; */
  margin: 0;
  padding: 20px;
}

#welcome-img{
  display: block;
  width: 60%;
  /* height: 600px; */
  align-self: center;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

.AboutUs table {
  border-collapse: collapse;
  width: 100%;
}

.AboutUs th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.AboutUs .doctor{
  border: none;
  border-radius: 50%;
  display: block;
  /* align-self: center; */
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}