.dietNutrition h1 {
  display: flex;
  justify-content: center;
}

.container {
  /* position: relative; */
  display: block;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background: var(--white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  padding-left: 35px;
  padding-right: 35px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 70%;
  }
}

.dietNutritionImageContainer {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
}

.dietNutrition .icon > a {
  display: block;
  text-decoration: none;
  color: #777;
}

.dietNutritionImageContainer,
.dietNutritionImage {
  display: block;
  width: 90%;
  max-height: 300px;
  margin: 0 auto;
  border-radius: 1rem;
}

.diet_Nutrition .paragraph {
  margin-top: 0.5rem;
  padding: 2rem;
  padding-bottom: 0;
  font-size: 1rem;
  background-color: var(--white);
  border: 1px solid #777;
  border-radius: 0.25em;
}
