.Footer {
  background-color: var(--dark-green);
  box-sizing: border-box;
  font-family: "Fira Sans", "Sans-serif";
  width: 100%;
  font-size: 1rem;
  padding: 25px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.Footer .vetInfo {
  display: flex;
  justify-content: space-evenly;
}

.Footer .info {
  display: flex;
  align-items: center;
}

.Footer .infoText {
  margin-left: 5px;
}

.Footer .icon {
  height: 2rem;
}

.Footer h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.Footer a {
  color: black;
}
.Footer a:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .Footer {
    align-items: center;
  }

  .Footer .vetInfo {
    flex-direction: column;
    width: 300px;
    margin-right: -5rem;
  }

  .Footer .info {
    margin-bottom: 15px;
  }
}
