.Grooming {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.groomingImageContainer {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  margin: 0 auto;
}

.Grooming.icon > a {
  display: block;
  text-decoration: none;
  color: #777;
}

.groomingImageContainer,
.groomingImage {
  display: block;
  max-height: 300px;
  margin: 0 auto;
  border-radius: 1rem;
}

.Grooming .paragraph {
  margin-top: 0.5rem;
  padding: 2rem;
  padding-bottom: 0;
  font-size: 0.9rem;
  background-color: var(--white);
  border: 1px solid #777;
  border-radius: 0.25em;
}
