.Header {
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .headerLogo {
  border-radius: 50%;
  height: 100px;
  margin: 0.75rem;
}
