.Header {
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .headerLogo {
  border-radius: 50%;
  height: 100px;
  margin: 0.75rem;
}

@media only screen and (max-width: 480px) {
  .Header .headerLogo {
    height: 75px;
  }
}
