.HomeMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.HomeMenu .menuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.HomeMenu .menuItem {
  background-color: yellowgreen;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.HomeMenu a {
  text-decoration: none;
  color: black;
}
