.LandingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  margin: 2rem auto 0;
  text-align: center;
  height: 75%;
}

.LandingInfo .infoBackground {
  background-color: var(--light-green);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 100%;
}

.infoBackground > h2,
p {
  margin-bottom: 1rem;
}

.LandingInfo .login {
  color: red;
  font-weight: bold;
  margin: 0;
}

.close {
  display: none;
}

@media only screen and (max-width: 480px) {
  .LandingInfo {
    width: 100%;
  }
}
