.PetProfile {
  background-color: #dfebd3;
  text-align: center;
  padding: 1rem;
}

.PetProfile .petProfileInfo {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  text-align: left;
}
