.RequestAppointment {
  background-color: var(--medium-green);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RequestAppointment h1,
h4 {
  text-align: center;
  margin: 1rem;
}

.RequestAppointment .requestContainer {
  background-color: var(--light-green);
  border-radius: 1rem;
  padding: 2rem;
}
