.RequestAptForm {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: 1rem;
  text-align: center;
  width: 65%;
  display: flex;
  justify-content: center;
}

.RequestAptForm .formFieldTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}

.RequestAptForm select {
  display: block;
  min-width: 300px;
  text-align: center;
}

.RequestAptForm input {
  min-width: 300px;
  text-align: center;
}

.RequestAptForm #calendar,
#time {
  font-family: inherit;
}

.RequestAptForm textarea {
  font-family: inherit;
  height: 100px;
  max-width: 300px;
  min-width: 300px;
}

.RequestAptForm input,
select,
textarea {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 5px 0;
}

.RequestAptForm button {
  background-color: var(--dark-green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  padding: 0.75rem 1rem;
}

.RequestAptForm a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .RequestAptForm {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .RequestAptForm {
    width: 95%;
  }

  .RequestAptForm input {
    min-width: 225px;
  }

  .RequestAptForm select {
    min-width: 225px;
    margin: 1rem auto 1rem auto;
  }

  .RequestAptForm textarea {
    width: auto;
    min-width: 225px;
    max-width: 225px;
  }
}
