.RequestAppointment {
  background-color: var(--medium-green);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RequestAppointment .requestContainer {
  background-color: var(--light-green);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  max-width: 50%;
  min-width: 650px;
}

.RequestAppointment .noGuarantee {
  font-style: italic;
}

.requestContainer p {
  margin: 1rem 0;
}

.requestContainer a {
  color: red;
  font-weight: bold;
}

.RequestAppointment h1,
h4 {
  text-align: center;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .RequestAppointment .requestContainer {
    max-width: 80%;
    min-width: 0;
  }
}
