:root {
  --white: white;
  --black: black;
  --light-green: #ebf6f1;
  --medium-green: #dfebd3;
  --dark-green: #9da653;
}

/* *,
*::before,
*::after {
  font-family: "Open Sans", sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* *,*::before,*::after {
  font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */


/* font-family: 'Fira Sans', sans-serif;
  font-family: 'Lexend Exa', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Cookie', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Exa:wght@200;500;700&family=Pacifico&family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Exa:wght@200;500;700&family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap");

/* All Cards in Services Component */
  .Cards-- {
    padding: 1rem;
  }
  .cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1rem;
    
  } 
.cards {
     overflow: hidden;
     --padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--white);
    /* border: 1px solid #777; */
    /* max-width: 300px; */
    align-items:stretch;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    transition: all 0.1s ease-in;
  }
.cards:hover{
    transform: scale(1.05);
  }
/* .cards.cards-shadow{
    border: none;
  }  */

.cards-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-top: 0.5rem;
}
  .cards-header.card-image {
    overflow: hidden;
    padding: 0;
    
  }
  .cards-header.card-image > img{
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
  }



.cards-body {
  font-size: 0.9rem;
  padding: 0 var(--padding);
}

  .cards-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
  }
 
  .cards-footer a{
    background-color: var(--dark-green);
    color: var(--white);
    border: 1px solid var(--dark-green);
    font-size: 1rem;
    text-decoration: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
  }

  .cards-footer a:hover, a:focus{
    background-color: var(--medium-green);
    color: #9da653;
  }

