:root {
  --white: white;
  --black: black;
  --light-green: #ebf6f1;
  --medium-green: #dfebd3;
  --dark-green: #9da653;
}

*,
*::before,
*::after {
  font-family: "Open Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* *,*::before,*::after {
  font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

/* font-family: 'Fira Sans', sans-serif;
  font-family: 'Lexend Exa', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Cookie', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Exa:wght@200;500;700&family=Pacifico&family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lexend+Exa:wght@200;500;700&family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap");

/* All Cards in Services Component */

.servicesHeader {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 600px;
  background-color: var(--light-green);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.cards-container {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* height: 100%; */
  padding: 0.8rem;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 1rem;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  /* vertical-align: middle; */
  overflow: hidden;
  --padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--light-green);
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
}
.card-header.card-image {
  overflow: hidden;
  padding: 0;
}
.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.card-body {
  font-size: 1rem;
  padding: 0 var(--padding);
}

.card-footer {
  margin-top: 1rem;
  padding: var(--padding);
  /* padding-top: 0; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-footer .readMore {
  background-color: var(--dark-green);
  color: var(--white);
  border: 1px solid var(--dark-green);
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.card-footer .readMore:hover,
.readMore:focus {
  background-color: var(--medium-green);
  color: #9da653;
}
